#main_menu {
  z-index: 5000;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  font-weight: 700;
  width: 100%;
  height: 70px;
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
}

.contentMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 85%;
  max-width: 1000px;

  height: 100%;
  margin: 0 auto;
}

#logo {
  width: 180px;
}

#main_menu ul {
  list-style-type: none;
  display: inline-block;
  padding-left: 0px;
}

#main_menu ul li {
  float: left;
  margin-right: 35px;
  cursor: pointer;
}

#main_menu ul li:hover p,
.selected_menu p {
  color: #fc759b;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  transition: 0.3s;
}

.phone_number {
  overflow: auto;
  background-color: #fb68a8;
  color: #fff;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: 700;
  border-radius: 5px;
}

.phone_number p {
  float: right;
  line-height: 1;
}

@media screen and (max-width: 1050px) {
  #main_menu ul {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  #logo {
    width: 140px;
  }

  .phone_number {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 320px) {
  #logo {
    width: 120px;
  }
}
